<div class="container">
  <div class="header">
    <h1>Details Commande</h1>
    <div>
      <span
        *ngIf="message"
        [ngClass]="{
          success: messageType === true,
          alert: messageType === false
        }"
        >{{ message }}</span
      >
    </div>
  </div>
  <div *ngIf="commande">
    <div class="commande-container">
      <h3>{{ commande.preparation.label }}</h3>
      <ul *ngFor="let user of commande.users">
        <li>
          {{ user.user.name }}
          {{ user.user.firstname }}
          <span>
            <button class="btn-pink" (click)="validerCommande(user.idCommande)">
              Valider la commande
            </button>
            <button class="btn-green">Modifier la commande</button>
            <svg class="trash" xmlns="http://www.w3.org/2000/svg" width="15" height="17.143" viewBox="0 0 15 17.143" (click)="supprimerCommande(user.idCommande)">
              <path id="trash-alt-regular" d="M8.973,13.929h.8a.4.4,0,0,0,.4-.4V6.295a.4.4,0,0,0-.4-.4h-.8a.4.4,0,0,0-.4.4v7.232A.4.4,0,0,0,8.973,13.929Zm5.491-11.25H11.705L10.567.78A1.607,1.607,0,0,0,9.188,0H5.812A1.607,1.607,0,0,0,4.434.78l-1.139,1.9H.536A.536.536,0,0,0,0,3.214V3.75a.536.536,0,0,0,.536.536h.536v11.25a1.607,1.607,0,0,0,1.607,1.607h9.643a1.607,1.607,0,0,0,1.607-1.607V4.286h.536A.536.536,0,0,0,15,3.75V3.214A.536.536,0,0,0,14.464,2.679ZM5.754,1.7a.2.2,0,0,1,.173-.1H9.074a.2.2,0,0,1,.172.1l.585.974H5.169Zm6.568,13.831H2.679V4.286h9.643Zm-7.1-1.607h.8a.4.4,0,0,0,.4-.4V6.295a.4.4,0,0,0-.4-.4h-.8a.4.4,0,0,0-.4.4v7.232A.4.4,0,0,0,5.223,13.929Z" fill="#fff"/>
            </svg>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
