<div class="profil-page">
  <div class="card-profil" *ngIf="currentUser">
    <div class="row">
      <div class="item"> 
        <label>Nom : </label>
        {{ currentUser.firstname }}
      </div>
      <div>
        <label>Prenom : </label>
        {{ currentUser.name }}
      </div>
    </div>
    <div class="row">
      <div>
        <label>Email : </label>
        {{ currentUser.email }}
      </div>
    </div>
    <div class="row">
      <div>
        <label>Adresse : </label>
        {{ currentUser.address }}
      </div>
    </div>
    <div class="row">
      <div>
        <label>Code Postal : </label>
        {{ currentUser.postalCode }}
      </div>
    </div>
    <div class="row">
      <div>
        <label>Ville : </label>
        {{ currentUser.town }}
      </div>
    </div>
    <div class="row">
      <div>
        <button routerLink="/updateUser" class="btn-green">Modifier</button>
      </div>
    </div>
  </div>
</div>
