<div class="card-register">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="register()">
      <h1>S'inscrire</h1>
    <div class="form">
    <!-- Là on divise en flex -->
    <div class="flex-group">
      <div class="row">
        <div class="col">
          <label>Nom :</label>
          <input type="text" placeholder="Doe" formControlName="name"/>
        </div>

        <div class="col">
          <label>Prenom :</label>
          <input type="text" placeholder="John" formControlName="firstname"/>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>Email :</label>
          <input type="email" placeholder="johndoe@m-cantine.com" formControlName="email"/>
        </div>
        <div class="col">
          <label>Telephone :</label>
          <input type="tel" placeholder="06.00.00.00.00" formControlName="phone" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label >Mot de passe :</label>
          <input type="password" placeholder="********" formControlName="password" [ngClass]="{ 'is-invalid': form.controls['password'].errors }"/>
        </div>
      </div>
    </div>

  <!-- Là on divise en flex -->
  <div class="flex-group">
    <div class="row">
      <div class="col">
        <label for="address">Adresse</label>
        <input type="text" placeholder="16 allée de la Cantine" id="address" formControlName="address" />
      </div>
      <div class="col">
        <label for="cp">Code postal :</label>
        <input type="text" placeholder="59000" formControlName="postalCode" id="cp"/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="ville">Ville</label>
        <input type="text" placeholder="Lille" id="ville" formControlName="town" />
      </div>
    </div>
  </div>
      </div>



      <div class="row">
        <div class="col">
          <button class="btn-green">S'inscrire</button>
        </div>
      </div>
    </form>
  </div>
</div>

